.success, .formError {
    padding: 15px 0;
    text-align: center;
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

.success {
    background-color: #21BF73;
}

.formError {
    background-color: #EB1D36;
}